<div class="col-sm-1 col-md-1"></div>
<div class="panel-group col-sm-9 col-md-9" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Upcoming Reminder
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body" >
       {{#if notes.length}}
          {{#each notes}}
          <div class="well" {{#if isTodayReminder}}style="border-right-color: green; border-right-style: solid; border-right-width: medium;" {{/if}}>
                <div >
             {{subject}}
           </div>
            <div>
              {{getLocaleTime reminder}}
            </div>

          </div>
       
        {{/each}}
       {{else}}
         <span style="font-weight:600;font-size:400">No Upcoming Reminders</span>

       {{/if}}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Previous Reminders
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
       {{#if previousnotes.length}}
          {{#each previousnotes}}
          <div class="well">
                <div >
             {{subject}}
           </div>
            <div>
              {{getLocaleTime reminder}}
            </div>

          </div>
       
        {{/each}}
       {{else}}
         <span style="font-weight:600;font-size:400">No Previous Reminders</span>

       {{/if}}
         
      </div>
    </div>
  </div>
 
</div>